<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="PHPTravelsTestSuite" thread-count="3" parallel="methods" >

    <test name="LoginTests  ">
        <classes>
            <class name="test.LoginTests" />
        </classes>
    </test>

    <test name="SubscriptionTests">
        <classes>
            <class name="test.SubscriptionTests" />
        </classes>
    </test>


    <test name="FlightSearchTests">
        <classes>
            <class name="test.FlightSearchTests" />
        </classes>
    </test>


</suite>